{#
/**
 * Uplimiter plugin for Craft CMS
 *
 * Uplimiter Settings.twig
 *
 * @author    TrendyMinds
 * @copyright Copyright (c) 2016 TrendyMinds
 * @link      http://trendyminds.com
 * @package   Uplimiter
 * @since     1.0.0
 */
#}

{% includeCssResource "uplimiter/css/Uplimiter_Style.css" %}

{% import "_includes/forms" as forms %}

<h2>User Groups</h2>
<ul class="uplimiter-list">
  <li><strong>If a user belongs to multiple groups</strong> their limit is the highest of the total groups they belong to.</li>
  <li><strong>If no value is assigned</strong> the user group defaults to Craft's <code>maxUploadFileSize</code> value.</li>
</ul>

{% for item in craft.uplimiter.getUserGroups() %}
  {{ forms.textField({
      label: item,
      instructions: 'Maximum allowable file upload in bytes.',
      type: 'number',
      id: 'gid' ~ item.id,
      name: 'gid' ~ item.id,
      value: settings['gid' ~ item.id]})
  }}
{% endfor %}
